{% extends "layout.html" %}


{% block content %}

<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/getGithubBlog/github-0822fd4736edb41e9e5a7455464a0779b3a3db14.css') }}"></strong>

<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/getGithubBlog/github2-8f91085a65ed893494cb6c0333b723dc357cff76.css') }}"></strong>

<div id="readme" class="blob instapaper_body">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">





</article>
</div>
<div id="readme" class="blob instapaper_body">
<article class="markdown-body entry-content" itemprop="mainContentOfPage">





</article>
</div>

{% endblock %}




