{% extends "layout.html" %}

{% block content %}

<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/getGithubBlog/github-0822fd4736edb41e9e5a7455464a0779b3a3db14.css') }}"></strong>
<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/getGithubBlog/github2-8f91085a65ed893494cb6c0333b723dc357cff76.css') }}"></strong>

<div id="readme" class="blob instapaper_body">
	<article class="markdown-body entry-content" itemprop="mainContentOfPage">
	
	{{blog | safe}}

	
	<div id="disqus_thread"></div>
    	<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'xiyoulaoyuanjia'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

	</article>
	
</div>
 
{% endblock %}




