<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>在线markdown编辑器</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/markdownEditor/style.css') }}"></strong>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/markdownEditor/preview.css') }}"></strong>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/markdownEditor/ace.js') }}"></script> 
    <script src="{{ url_for('static',filename='js/markdownEditor/markdown.js') }}"></script> 
    <script src="{{ url_for('static',filename='js/markdownEditor/mymade.js') }}"></script>
   
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
</head>



<body>

<div id="bar">
    <h1 id="title"><span class="desc">An Editor for markdown</span></h1>
    <div id="control">

	<a href="#" class="button" id="Synchronous_button">
            <span class="label">Synchronous</span>
        </a>      
<!--
        <input type="file" id="import_file_button"/>
        <div id="export_button_wrapper">
        <a href="#" class="button" id="export_button">
            <span class="label">Export ▾</span>
        </a>
        <ul class="menu" id="export_menu"> 
            <li>
            <a class="menuitem" href="#" id="export_source_button">Export Source</a>
            </li>
            <li>
            <a class="menuitem" href="#" id="export_html_button">Export HTML</a>
            </li>
            <li>
            <a class="menuitem" href="#" id="export_full_html_button">Export HTML(Full)</a>
            </li>
        </ul>
        </div>

    </div>
    <div id="color_scheme"><label>Color Scheme</label>
        <a href="dark" id="color_scheme_dark" class="selected"><span/></a>
        <a href="light" id="color_scheme_light"><span/></a>
    </div>
-->
</div>


<div id="container">
    <div class="pane" id="input" placeholder="type some markdown code or drag & drop a .md file here"></div>
    <div id="preview_pane" class="pane">
        <div id="preview"></div>
    </div>
</div>






</body>
</html>
