<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>在线markdown编辑器</title>
<!--    <link href="mahua.css" rel="stylesheet" type="text/css" /> -->
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/markdownEditor/mahua.css') }}"></strong>
</head>
<body>
	<div class="mahua-container">
        <div class="mahua-left">
            <div id="mahua-editor" style="height:100%;width:50%;" ></div>
        </div>
        <div class="mahua-right" id="preview" style="height:100%;width:50%;"> </div>
    </div>
</body>
<script src="{{ url_for('static',filename='js/markdownEditor/ace.js') }}"></script>
<script src="{{ url_for('static',filename='js/markdownEditor/markdown.js') }}"></script>
<!--这样做的好处是如果用户已经去过使用与 Google 相同版本的 jQuery 的 网站后，访问你的网站时，页面可能会更快地载入，因为浏览器已经缓存了 jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>


<!--
<script src="lib/markdown.js"></script>
<script type="text/javascript" src="ace.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
-->
<script>
  var editor = ace.edit("mahua-editor");
  editor.setTheme("ace/theme/chrome");
    var preview = $("#preview"); 
// $ 的这种用法 表示了一个 DOM 的 Object 
Dom = $('<iframe frameborder="0" marginheight="0" style="height:100%;width:100%;" src="{{ url_for("static",filename="html/proxy.html")  }}" id="iframe"></iframe>');
   preview.append(Dom);
   editor.getSession().on('change', function(e) {
document.getElementById('iframe').src="data:text/html;charset=utf-8,"+markdown.toHTML(editor.getValue());
});
</script>
</html>
